@font-face {
  font-family: "FiraCode-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FiraCode-Regular.eot");
  src: url("../fonts/FiraCode-Regular.eot?") format("eot"), url("../fonts/FiraCode-Regular.woff") format("woff"), url("../fonts/FiraCode-Regular.ttf") format("truetype"), url("../fonts/FiraCode-Regular.svg") format("svg"); }
